/* style.css */
body{
/* font-size: .75em; */
}

.widget{
	border: 1px solid darkgrey;
	border-radius: .5em;
	padding: .5em;
	margin: .5em;
	height: 100%;
	box-shadow: 5px 5px 5px lightgrey;
}


/* A few hard coded heights*/
#selector, #chartTarget{
	max-height: 700px;
}

#kpi1, #kpi2, #kpi3{
	max-height: 120px;;
}


.kpi{
	font-size: 2em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: .215em;;
}

.myTooltip{
	position: absolute;
	background-color: black;
	opacity: .8;
	padding: .25em;
	border-radius: .25em;
	color: white;
	display: none;
	font-size: .5em;
}

.point{
	opacity: .3;
}

.point:hover{
	border: 2px solid black;
	fill: gold;
	opacity: 1;
}

p{
	font-size: .5em;
	margin-bottom: .5em;
}

.input-group-text, .custom-select{
	font-size: .65em;
}

select {
	width: 100%;
}

#filterGroup{
	width: 100%;
}

.filterOption{
	width:100%;
	margin: .5em .1em;
	border-radius: 5px;
	border: 1px solid grey;
	padding: .5em;
	font-size: .65em;
	cursor: pointer;
	transition: .2s;
}

.filterOption:hover{
	font-weight: bold;
	box-shadow: 3px 3px 3px grey;
}

.selectedFilter{
	background-color: #3AA3F2;
	border: 2px solid grey;
	color: white;
}

#infoModal .modal-header{
	background-color: #3AA3F2;
	color: white;
}

#infoModal p{
	font-size: 1em;
	margin-bottom: 1em;
}
