/* style.css */
body{

}

.widget{
	border: 1px solid darkgrey;
	border-radius: .5em;
	padding: .5em;
	margin: .5em;
	height: 100%;
	box-shadow: 5px 5px 5px lightgrey;
}

.kpi{
	font-size: 2em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: .215em;;
}

.myTooltip{
	position: absolute;
	background-color: black;
	opacity: .8;
	padding: .25em;
	border-radius: .25em;
	color: white;
	display: none;
	font-size: .5em;
}

.point{
	opacity: .3;
}

.point:hover{
	border: 2px solid black;
	fill: gold;
	opacity: 1;
}
